".source.lua":

    "Seperator":
        prefix: "---"
        body: """
        --[[------------------------------------------------------------------------------------------------
            $1
        --]]------------------------------------------------------------------------------------------------

        """

    "Seperator Mini":
        prefix: "--- "
        body: """
        -- $1 ------------------------------------------------------------------------------------------------

        """
